In [5]:
traindata = pd.read_csv("/home/dockeruser/data/titanic/train.csv")
testdata = pd.read_csv("/home/dockeruser/data/titanic/test.csv")

In [2]:
#result = sm.OLS.from_formula("Survived ~ Pclass + Sex + Embarked +SibSp + Parch", data=traindata)
result = sm.OLS.from_formula("Survived ~ Fare", data=traindata)

In [3]:
fits = result.fit()

In [4]:
fits.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.066
Model:                            OLS   Adj. R-squared:                  0.065
Method:                 Least Squares   F-statistic:                     63.03
Date:                Sat, 22 Jul 2017   Prob (F-statistic):           6.12e-15
Time:                        16:31:48   Log-Likelihood:                -591.44
No. Observations:                 891   AIC:                             1187.
Df Residuals:                     889   BIC:                             1196.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.3027      0.019     16.114      0.000       0.266       0.340
Fare           0.0025      0.000      7.939      0.000       0.002       0.003
==============================================================================
Omnibus:                       32.680   Durbin-Watson:                   1.966
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              125.732
Skew:                           0.490   Prob(JB):                     4.98e-28
Kurtosis:                       1.443   Cond. No.                         70.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [31]:
asdf = traindata[["Survived", "Pclass", "Fare"]]

In [32]:
asdf.describe()

         Survived      Pclass        Fare
count  891.000000  891.000000  891.000000
mean     0.383838    2.308642   32.204208
std      0.486592    0.836071   49.693429
min      0.000000    1.000000    0.000000
25%      0.000000    2.000000    7.910400
50%      0.000000    3.000000   14.454200
75%      1.000000    3.000000   31.000000
max      1.000000    3.000000  512.329200

In [8]:
traindata[["Survived", "Sex", "Embarked"]]

     Survived     Sex Embarked
0           0    male        S
1           1  female        C
2           1  female        S
3           1  female        S
4           0    male        S
5           0    male        Q
6           0    male        S
7           0    male        S
8           1  female        S
9           1  female        C
10          1  female        S
11          1  female        S
12          0    male        S
13          0    male        S
14          0  female        S
15          1  female        S
16          0    male        Q
17          1    male        S
18          0  female        S
19          1  female        C
20          0    male        S
21          1    male        S
22          1  female        Q
23          1    male        S
24          0  female        S
25          1  female        S
26          0    male        C
27          0    male        S
28          1  female        Q
29          0    male        S
..        ...     ...      ...
861         0    male        S
862         1  female        S
863         0  female        S
864         0    male        S
865         1  female        S
866         1  female        C
867         0    male        S
868         0    male        S
869         1    male        S
870         0    male        S
871         1  female        S
872         0    male        S
873         0    male        S
874         1  female        C
875         1  female        C
876         0    male        S
877         0    male        S
878         0    male        S
879         1  female        C
880         1  female        S
881         0    male        S
882         0  female        S
883         0    male        S
884         0    male        S
885         0  female        Q
886         0    male        S
887         1  female        S
888         0  female        S
889         1    male        C
890         0    male        Q

[891 rows x 3 columns]